* {
    box-sizing: border-box;
    margin: 1px;
    padding: px;
  }

  nav{
    justify-content:space-between ;
    display: flex;
    height: 20px;
  }

.navbar{
    background-color: rgb(49, 37, 37);
    text-align: center;
    height: 25px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
}

nav a:hover{
    background-color: white;
    color: grey;
    /* border: 1px solid;
    padding: 3px;
    border-radius: 20px;
    position: relative; */
    width: fit-content;
}

body{
    color:rgb(179, 139, 37);
    margin: 002px;
    padding: 0px;
    background-color: rgb(5, 102, 102);
}

code{
    border: 2px;
    border-radius: 2px;
}