@import "mixin";
@import "var";

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    height: $height;
    width: 100vw;
    background-color: red;
    @include flex_code();
    
    p{
        @include font_size(20px);
        color: $color1;
        letter-spacing: 10px;
        font-family: monospace;
    }
     h1{
        @include font_size(50px);
        font-size: 1rem + 1rem;
        color: aliceblue;
        &:hover{
            color: black;
    }
    

    }

}
 
//operator

